<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>&Eacuteditions dores et déjà : Administration</title>
        {% block stylesheets %}
            <link href="{{ asset('dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('dist/css/bootstrap-theme.min.css') }}" type="text/css" rel="stylesheet" />
             <link href="{{ asset('plus/css/style.css') }}" type="text/css" rel="stylesheet" />
             <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <![endif]-->
        <!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="{{ asset('plus/js/html5shiv.js') }}"  ></script>
            <script src="{{ asset('plus/js/respond.min.js') }}"  ></script>
        <![endif]-->
    </head>


    <!--

                                js
                               mvc
                              mysql
                             jquery
                            symfony
                           bootstrap
                          Angular_js
                        css       html
                          (| -_- |)         
                          O\  =  /O
                       ____/`---'\____
                     .'  \\|     |//  `.        
                    /  \\|||  :  |||//  \       
                   /  _||||| -:- |||||_  \      
                   |   | \\\  -  /'| |   |      
                   | \_|  `\`---'//  |_/ |      
                   \  .-\__ `-. -'__/-.  /
                 ___`. .'  /--.--\  `. .'____        Welcome to my zen garden ...
              ."" '<  `.___\_<|>_/___.' _> \"".
             | | :  `- \`. ;`. _/; .'/ /  .' ; |     contact: stephane@chrysanthos.net
             \  \ `-.   \_\_`. _.'_/_/  -' _.' /          
   ===========`-.`___`-.__\ \___  /__.-'_.'_.-'================
                           `=--=-'              Sept 2015

    -->
    <body>
        <div class="containerAdmin">
        
        {% block contenu %}
        {% endblock %}

        </div><!--fin container-->

        {% block javascripts %}
            <script src="{{ asset('plus/js/jquery.js') }}" type="text/javascript"  ></script>
            <script src="{{ asset('dist/js/bootstrap.min.js') }}" type="text/javascript"  ></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
                      
        {% endblock %}

  
<script> 
$(function() { 
var options = { 
active: false, 
collapsible: true 
};   
$("#accordeon").accordion(options);  
}); 
</script>
          <script>
$(function()
{ 
$('[data-toggle="tooltip"]').tooltip();
});
</script>
    </body>
</html>
