{% extends '::admin.html.twig' %}

{% block contenu %}
<h1><strong>QUI SOMMES NOUS ?</strong></h1>
<div class="panel panel-success"> 
    <div class="panel-heading"> 
      <h3 class="panel-title">Liste des éléments</h3> 
   </div> 

    <table class="table table-striped">
        <thead>
            <tr>
                
                <th>Colonne 1</th>
                <th>Colonne 2</th>
                <th>Colonne 3</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                
                <td>{{ entity.row1 }}</td>
                <td>{{ entity.row2 }}</td>
                <td>{{ entity.row3 }}</td>
                <td>
                <ul>
                    
                    <li>
                        <a href="{{ path('whois_edit', { 'id': entity.id }) }}"><span class="label label-info">edit</span></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table>
        <tr>
            <td><a href="{{ path('admin_homepage') }}" role="button" class="btn btn-primary">ACCUEIL ADMIN</a></td>
            <td><a href="{{ path('whois_new') }}" role="button" class="btn btn-success">AJOUTER UNE LIGNE</a></td>
        </tr>
    </table>
</div>

    
    
    
    {% endblock %}
