{% extends '::admin.html.twig' %}

{% block contenu %}
<h1><strong>DOC</strong></h1>
    <div class="panel panel-success"> 
    <div class="panel-heading"> 
      <h3 class="panel-title">Elément </h3> 
    </div>
    <table class="table table-striped">
        <tbody>
            
            <tr>
                <th>Fichier </th>
                <td>{{ entity.image }}</td>
            </tr>
            

            <tr>
                <th>Nom Fichier</th>
                <td>{{ entity.imageName }}</td>
            </tr>
        </tbody>
    </table>

   
    <table>
        <tr>
            <td>{{ form(delete_form) }}</td>
            <td>
                <a href="{{ path('doc_edit', { 'id': entity.id }) }}" role="button" class="btn btn-warning">MODIFIER</a>
            </td>
            <td><a href="{{ path('doc') }}" role="button" class= "btn btn-success"> ACCUEIL DOC</a></td>
            <td><a href="{{ path('admin_homepage') }}" role="button" class="btn btn-primary">ACCUEIL ADMIN</a> </td>            
        </tr>
    </table>

</div>
{% endblock %}
