{% extends "::base.html.twig" %}



{% block contenu %}
 <!--Contenu principal @media>1200px-->
            <div class="row "> 
            {% for x in xix %}              
                <div class="panel panel-default col-sm-3 col-md-3">
                    <div class="media espace-livres "> 
                <a class="pull-left" <a href="{{ path('front_livre', { 'id': x.id }) }}">
                <img width="100" height="154" class="media-object" src="{{ asset('img/collection/'~ x.image) }}" alt="XIX"> 
                </a> 
                <div class="media-body"> 
                    <h4 class="media-heading">{{ x.auteur }}</h4> 
                    <p>{{ x.titre }}</p> 
                    
                    
                    <p><font color="#FF0000">{{ x.prix }}€</font></p>
                    
                </div> 
            </div>
                </div>
            {% endfor %}                
                <hr>
            </div> 
            <!--fin contenu principal @media>1200px-->
{% endblock %}
